<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Including header that we created in partials/head.ejs using BootStrap -->
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- Including script that we created in partials/script.ejs using BootStrap -->
    <%- include('./partials/script') %>
</body>
</html>